*{
margin:0;
padding:0;
}

@font-face
{
    font-family: Myriadregular;
    src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face
{
    font-family: Myriadbold;
    src: url('../fonts/MyriadPro-Bold.otf');
}

@font-face
{
    font-family: Myriadlight;
    src: url('../fonts/MyriadPro-Light.otf');
}

@font-face
{
    font-family: MuseoSlab;
    src: url('../fonts/MuseoSlab.otf');
}

@font-face
{
    font-family: ARJULIAN;
    src: url('../fonts/ARJULIAN.ttf');
}

body{
    background-color: #ffffff;
    font-family: 'Myriadregular';
}
.container{
	width:800px;
	margin:0 auto;
}
#header{
    width: 100%;
    color: #ffffff;
	padding: 20px 0px;
	float:left;
}
.logo{
	color:#e76049;
	text-decoration:none;
	font-family: 'ARJULIAN';
	font-size: 40px;
	float:left;
}
.register{
	font-size:20px;
	float:right;
	text-decoration:none;
	background-color:#e76049;
	padding: 8px 16px;
	color:white;
	/*border-radius: 4px;*/
	border-bottom: 1px solid #e70000;
}
.register:hover{
	background-color:#e70000;
}
.broughtby{
	float:left;
	width:100%;
	font-family:'Myriadlight';
	background: #f9f9f9;
	padding:20px 0px;
}
.broughtby-bg{
	width:800px;
	margin:0 auto;
}
.content{
	/*border-radius: 8px;*/
	float:left;
}
.desc{
	float:left;
	font-size:48px;	
}
.desc2{
	float:left;
	font-size:16px;
	clear:left;
	margin:10px 0px;
}
.logos{
	float:left;
	clear:left;
}
.cogni{
	float:left;
}
.tbb{
	float:left;
	margin-left: 10px;
}
.social{
	float:right;
}
.social img{
	float:right;
	width:10%;
	margin-left:8px;
}
.contest{
	float:left;
	margin-top: 40px;
	border-bottom: 1px solid #eeeeee;
}
.contest-name{
	font-family: 'MuseoSlab';
	font-size: 32px;
	width:80%;
	float:left;
}
.status{
	background: #eeeeee;
	color: #333333;
	float:right;
	/*border-radius: 4px;*/
	padding: 4px 8px;
}
.dates{
	float:left;
	clear:left;
	margin: 4px 0px;
	color: #aaaaaa;
	font-style: italic;
}
.dates span{
	color:#e76049;
}
.contest-image{
	float:left;
	overflow:hidden;
	/*border-radius: 8px;*/
	margin-top: 20px;
	background-image:url('../images/background.png');
	padding:27px;
}
.contest-detail{
	width:60%;
}
.submit-entry{
	margin-top:27px;
	text-decoration:none;
	background-color:#e76049;
	padding:8px 16px;
	/*border-radius: 4px;*/
	color:white;
	float:left;
}
.submit-entry:hover{
	background-color:#e76000;
}
.prizes{
	float:left;
	width:100%;
	padding:20px 0px;
}
.prize-block{
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.position{
	padding:8px;
	background: #333333;
	color:white;
	font-size:16px;
	float:left;
	/*border-radius:4px;*/
}
#first-prize-block{
	width:100%;
	font-family:'Myriadbold';
}
.prize-text{
	float:left;
	padding:8px;
}
.footer{
	width:100%;
	float:left;
	background-color:#333333;
	padding: 20px 0px;
	margin-top:40px;
}
.footer-nav{
	float:right;
}
.footer-nav li{
	list-style:none;
	color:white;
}
.logo-footer{
	float:left;
	color:white;
	font-size:32px;
	text-decoration:none;
}
.footer-desc{
	float:left;
	clear:left;
	width:60%;
	color:white;
}
.footer-nav a{
	text-decoration:none;
}
.footer-logos{
	float:left;
	margin-top:20px;
	clear:left;
}